# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners. The pattern is followed 
# by one or more GitHub usernames or team names using the standard @username or @org/team-name 
# format. You can also refer to a user by an email address that has been added to their 
# GitHub account, for example user@example.com.

# These owners will be the default owners for everything in the repo.
*       @jeremyknight-me

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com
