@page "/"

<div style="text-align: center;">
    <h1>Welcome to Photo Collage!</h1>

    <NavLink class="start-button" href="collage">
        Start Collage
    </NavLink>

    <p>For best results, do not resize window once collage has started.</p>
</div>

