<div class="@this.CssClasses" style="@this.Image.PositionCssStyles" @key="this.Image.Key">
    <img style="@this.Image.DisplayCssStyles" src="@($"data:image/{this.Image.Extension};base64,{this.Image.Data}")" />
</div>