@page "/collage"
@using Microsoft.AspNetCore.SignalR.Client
@using PhotoCollageWeb.Shared
@layout EmptyLayout
@inject NavigationManager NavigationManager
@implements IDisposable

<div id="collage-wrapper">
    <span>@id</span>
</div>


@code {
    private HubConnection hubConnection;
    private Guid id;

    protected override async Task OnInitializedAsync()
    {
        this.hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/hubs/collage"))
            .ConfigureLogging(logging =>
            {
                logging.SetMinimumLevel(LogLevel.Trace);
            })
            .Build();

        this.hubConnection.On<PhotoData>("ReceivePhoto", photo =>
        {
            this.id = photo.Id;
            this.StateHasChanged();
        });

        await this.hubConnection.StartAsync();
    }

    public void Dispose()
    {
        _ = this.hubConnection.DisposeAsync();
    }
}
